/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   ROOT
========================= */

:root {

    --bg: #121212;

    --card: #1b1b1b;

    --text: #e6e6e6;

    --muted: #9e9e9e;

    --border: #2c2c2c;

    --accent: #4c8bf5;

    --radius: 18px;
}


/* =========================
   BODY
========================= */

body {

    background: var(--bg);

    color: var(--text);

    font-family: sans-serif;

    min-height: 100dvh;

    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
}


/* =========================
   TOPBAR
========================= */

.topbar {

    padding: 22px 20px 10px;
}

.topbar h1 {

    font-size: 4em;/*2rem*/

    font-weight: 600;

    text-align: center;
}


/* =========================
   CONTAINER
========================= */

.container {

    width: 100%;

    max-width: 680px;

    margin: 0 auto;

    padding: 0 16px 40px;
}


/* =========================
   INTRO
========================= */

.intro {

    margin-bottom: 22px;
}

.intro p {

    color: var(--muted);

    line-height: 1.6;

    font-size: 1.5em;/*1rem*/

    text-align: center;
}


/* =========================
   DECK LIST
========================= */

.deck-list {

    display: flex;

    flex-direction: column;

    gap: 16px;
}


/* =========================
   DECK CARD
========================= */

.deck-card {

    background: linear-gradient(
        180deg,
        #1a1a1a 0%,
        #151515 100%
    );

    border-radius: 22px;

    overflow: hidden;

    border: 1px solid var(--text);/*1px solid var(--border)*/

    display: flex;

    flex-direction: column;

    transition:
        transform 0.18s ease,
        background-color 0.25s ease,/*background*/
        border-color 0.25s ease;

    box-shadow:
        0 8px 24px rgba(0,0,0,.35);

    text-decoration: none;

    color: inherit;

}

.deck-card:hover {

    transform: translateY(-2px);

    border-color: var(--text);/*#3a3a3a*/

    background:
        linear-gradient(
            180deg,
            #202020 0%,
            #171717 100%
        );
}

.deck-card:active {

    transform: scale(.985);
}


/* =========================
   COVER
========================= */

.deck-cover {

    width: 100%;

    height: 135px;

    object-fit: cover;

    display: block;

    border-bottom:
        1px solid rgba(255,255,255,.05);

    background: #e7d1aa;

    transition:
        transform .35s ease;

}

.deck-card:hover .deck-cover {

    transform: scale(1.02);
}

/* =========================
   INFO
========================= */

.deck-info {

    padding: 18px;

    display: flex;

    flex-direction: column;

    gap: 10px;
}

.deck-info p {

    color: var(--muted);

    font-size: 1em;/*.96rem*/

    line-height: 1.5;

    margin-top: -2px;
}

/* =========================
   HEADER
========================= */

.deck-header {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    gap: 12px;
}

.deck-header h2 {

    color: var(--text);

    font-size: 1.55em;/*1.55rem*/

    line-height: 1.1;

    font-weight: 700;

    letter-spacing: -0.02em;

    margin-top: 2px;
}

/* =========================
   LEVELS
========================= */

.level {

    padding: 6px 11px;

    border-radius: 9px;/*999px*/

    font-size: 1.5em;/*78rem*/

    font-weight: 700;

    letter-spacing: .02em;

    flex-shrink: 0;
}

.level-a1 {

    background: #1D231D; /*rgba(92,184,92,.14)*/

    color: #8fbc8bff;/*#90f5a0*/
}

.level-a2 {

    background: #171F1F; /*rgba(76,139,245,.14)*/

    color: #5f9ea0fd;/*#9bbcff*/
}

.level-b1 {

    background: #2D201A;/*rgba(255,193,7,.14)*/

    color: #FFA07A;/*#ffe083*/
}

.level-b2 {

    background: #281A1A;

    color: #DB7676;
}


/* =========================
   BUTTON
========================= */

.open-btn {

    width: 100%;

    height: 44px;

    border: none;

    border-radius: 14px;

    background:
        linear-gradient(
            180deg,
            #5a92ff 0%,
            #4b82f1 100%
        );

    color: white;

    font-size: .96rem;

    font-weight: 600;

    cursor: pointer;

    transition:
        transform .15s ease,
        opacity .2s ease;
}

.open-btn:hover {

    opacity: .94;
    filter: brightness(1.06);
}

.open-btn:active {

    transform: scale(.98);
}


/* =========================
   MOBILE
========================= */

@media (max-width: 520px) {

    .topbar h1 {

        font-size: 3em;/*2.1rem*/
    }

    .deck-cover {

        height: 145px;
    }

    .deck-header h2 {

        font-size: 2em;/*1.2rem*/
    }

    .deck-info {

        padding: 16px;
    }
}


/* =========================
   STUDY SCREEN
========================= */

.study-screen {

    min-height: 100dvh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 20px;/*28px*/

    padding: 20px;

}


/* =========================
   FLASHCARD
========================= */

.flashcard {

    width: 100%;

    max-width: 420px;

    min-height: 240px;

    background: var(--card);

    border: 1px solid var(--text);

    border-radius: var(--radius);

    padding: 32px;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    cursor: pointer;

    transition:
      transform 0.15s ease,
      background-color 0.2s ease,/*background*/
      opacity 0.15s ease,
      border-color 0.2s ease;
}


.flashcard:active {

  transform: scale(0.985);
}

/* ==================================
   Animar tarjeta al clickear flechas
=================================== */
/* NEXT */
.card-next-out {
    opacity: 0;
    transform: translateX(-15px);
}

.card-next-in {
    opacity: 0;
    transform: translateX(15px);
}

/* PREV */
.card-prev-out {
    opacity: 0;
    transform: translateX(15px);
}

.card-prev-in {
    opacity: 0;
    transform: translateX(-15px);
}


/* Nivel del mazo: fondos oscuros, bajo brillo (data-level desde deck.js) */

.flashcard[data-level="a1"] {

    background:#8fbc8bff
        /*
        linear-gradient(
            180deg,
            #1a221e 0%,
            #141a17 100%
        );

    border-color: rgba(99, 193, 116, 0.22);
    */

}

.flashcard[data-level="a2"] {

    background:#5f9ea0fd
        /*
        linear-gradient(
            180deg,
            #1a1f28 0%,
            #141820 100%
        );

    border-color: rgba(90, 169, 255, 0.22);
    */
}

.flashcard[data-level="b1"] {

    background:#FFA07A
        /*
        linear-gradient(
            180deg,
            #221f18 0%,
            #1a1812 100%
        );

    border-color: rgba(255, 193, 7, 0.2);
    */
}

.flashcard[data-level="b2"] {

    background: #DB7676
        /*
        linear-gradient(
            180deg,
            #201a22 0%,
            #18141c 100%
        );

    border-color: rgba(217, 140, 255, 0.22);
    */
}

.flashcard[data-level="c1"] {

    background: #1a1614
        /*
        linear-gradient(
            180deg,
            #221c1a 0%,
            #1a1614 100%
        );

    border-color: rgba(232, 120, 100, 0.2);
    */
}

.flashcard[data-level="c2"] {

    background: #13191c
        /*
        linear-gradient(
            180deg,
            #181f22 0%,
            #13191c 100%
        );

    border-color: rgba(78, 205, 196, 0.2);
    */
}


/* =========================
   CARD CONTENT
========================= */

.card-content {

    display: flex;

    flex-direction: column;

    gap: 20px;

    justify-content: flex-start;

    padding-top: 50px;
}


/* =========================
   TEXT
========================= */

.card-text {

    font-size: 2.5em;/*3rem*/

    line-height: 1;/*1.4*/

    color: var(--bg);

    /*font-family: "sans-serif";*/
    font-weight: 600;
    letter-spacing: -0.02em;

    /*salto de linea en el json*/
    white-space: pre-line;

}


/* =========================
   HINT
========================= */

.card-hint {

    font-size: 1em;/*0.95rem*/

    /*color: var(--muted);*/
    color: var(--bg);

    /*opacity: 0.5;*/

}


/* =========================
   AUDIO BUTTON
========================= */

.audio-btn {

    width: 98px;/*68px*/

    height: 98px;/*68px*/

    border: none;

    border-radius: 50%;

    /*background: var(--accent);*/

    background: var(--muted);

    /*border-color: 1px solid var(--muted);*/

    color: var(--bg);

    /*font-size: 1.4rem;*/

    cursor: pointer;

    transition:
        transform 0.15s ease,
        opacity 0.2s ease;

    /*box-shadow:
        0 0 20px rgba(76,139,245,0.15);*/

    display: flex;
    align-items: center;
    justify-content: center;

}


.audio-btn:active {

    transform: scale(0.94);/*scablockle(0.94)*/
}


.audio-btn:hover {

    opacity: 0.82;/*0.92*/
}

/*icono-speaker*/
.icon-speaker {

    width: 46px;
    height: 46px;
    display: block;
    flex-shrink: 0;

}

/* =========================
   NAVIGATION
========================= */

.navigation {

    display: flex;

    gap: 2px;/*60px*/
}


/* =========================
   NAV BUTTON
========================= */

.nav-btn {

    width: 88px;/*58px*/

    height: 88px;/*58px*/

    /*border: none;*/

    border: 1px solid var(--muted);


    border-radius: 50%;

    background: #222;

    color: var(--muted);

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: center;

    transition:
        transform 0.15s ease,
        background-color 0.2s ease;/*background*/
}


.icon-arrow {

    display: block;

    width: 64px;

    height: 64px;

    flex-shrink: 0;
}


.icon-arrow--mirror {

    transform: scaleX(-1);
}


.nav-btn:active {

    transform: scale(0.94);
}


.nav-btn:hover {

    background: #2b2b2b;
}

.deck-topbar {

    width: 100%;

    max-width: 420px;

    display: flex;

    justify-content: center;

    align-items: center;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 2px;

    padding-top: 20px;

    gap: 8px;

}

.deck-topbar-slot {

    text-align: center;

    width: 88px;/*140px*/

    height: 50px;/*50px*/

    border: none;

    border-radius: 10%;

    background: #222;

    padding: 2px;
}

#backBtn {

    color: var(--muted);

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: center;

    transition:
        transform 0.15s ease,
        opacity 0.2s ease;

    /*opacity: 0.4;*/

    border: 1px solid var(--muted);

    border-radius: 9px;/*var(--radius)*/
}

/*
#backBtn .icon-arrow {

    width: 46px;

    height: 46px;
}
*/

#backBtn:active {

    transform: scale(0.9);
}

#backBtn:hover {

    opacity: 0.82;
}


/*=========
  CONTADOR
======== */

.contador {

    text-align: center;

    width: 78px;/*140px*/

    height: 88px;/*50px*/

    padding: 2px;
}

#progress {

    color: var(--muted);

    font-size: 0.9em;/*0.95rem | 0.8em*/

    line-height: 1.3;

    /*opacity: 0.4;*/

    padding-top: 12px;/*12-36px*/

    /*border: 1px solid var(--muted);*/

    /*border-radius: 8px;var(--radius)*/

    /*margin-top: 22px;*/
}

/* ==================================
   Quitar highlight táctil en móviles
=================================== */
* {
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: none;
}

button:focus {
    outline: none;
}

* {
    -webkit-user-select: none;
    user-select: none;
}

/* ======================
   Salto de linea en json
=======================
.card-back {
  white-space: pre-line;
}
*/

/* ================================
   Botones para clasificar tarjetas
================================= */
.review-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  /*margin-top: 20px;*/
}

.review-buttons button {
  border: 1px solid var(--muted);/*none*/
  padding: 12px 18px;
  border-radius: 9px;/*12px*/
  cursor: pointer;
  /*color: var(--muted);*/
  transition:
    transform 0.15s ease,
    opacity 0.2s ease;
}

.good {
  background: #222;/*#28c76f*/
  color: var(--muted);
}

.bad {
  background: #222;/*#ea5455*/
  color: var(--muted);
}

/*
.review-buttons:hover {
  transform: scale(1.08);
}
*/

.good:active {
  transform: scale(0.94);
  background: green;/*#28c76f*/
  color: white;/*#222*/
  border: 1px solid white;
}

/*despues de pulsar*/
.button-good-active {
    background-color: green;
    color: white;
    border: 1px solid white;
}

.bad:active {
  transform: scale(0.94);
  background: red;/*#ea5455*/
  color: white;/*#222*/
  border: 1px solid white;
}

/*despues de pulsar*/
.button-bad-active {
    background-color: red;
    color: white;
    border: 1px solid white;
}

.good:hover {
  opacity: 0.82;
}

.bad:hover {
  opacity: 0.82;
}

/*POP-UP RESULTADOS*/
.popup {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);

  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 999;
}


.hidden {
  display: none;
}


.popup-content {

  background: #1e1e1e;

  padding: 30px;

  border-radius: 12px;/*12px*/

  text-align: center;

  min-width: 150px;/*300px*/
}

.results {

  margin-top: 20px;
  margin-bottom: 20px;
}

.good-result {

  color: #4caf50;

  font-size: 2.5em;/*24px*/

  font-weight: bold;
}

.bad-result {

  color: #f44336;

  font-size: 2.5em;/*24px*/

  font-weight: bold;
}

/*boton REINICIAR MAZO en POP-UP*/
#restart-btn {

  margin-top: 30px;/*15px*/

  padding: 10px 20px;

  border: none;

  border-radius: 6px;/*8px*/

  cursor: pointer;

  font-size: 1em;/*16px*/

  display: flex;

  align-items: center;

  gap: 8px;

  color: #1e1e1e;

  transition:
    transform 0.15s ease,
    opacity 0.2s ease;

}

#restart-btn:active {

    transform: scale(0.9);

}

#restart-btn:hover {

    opacity: 0.82;
}

/*boton "BACK TO DECKS" en POP-UP*/
#back-decks-btn {

  margin-top: 30px;/*15px*/

  padding: 10px 20px;

  border: none;

  border-radius: 6px;/*8px*/

  cursor: pointer;

  font-size: 1em;/*16px*/

  align-items: center;

  display: flex;

  gap: 8px;

  color: #1e1e1e;

  transition:
    transform 0.15s ease,
    opacity 0.2s ease;

}

#back-decks-btn:active {

    transform: scale(0.9);

}

#back-decks-btn:hover {

    opacity: 0.82;
}

/*BOTONES "BACK" y "RESTART" uno debajo del otro*/
.popup-content button {

  display: block;

  width: 100%;

  margin-top: 10px;
}